// General styles
body {
  font-family: 'Creepster', cursive;
  background-image: url("https://wallpapercave.com/wp/wp9776534.jpg");
  background-repeat: repeat;
  background-color: #282828;
  color: #FFA500;
}

h1 {
  background-color: #282828;
  text-shadow: 2px 2px 4px #FF4500;
}

// Styles for mat-card
mat-card {
  width: 26rem;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #383838;

  // Styles for mat-card-title
  mat-card-title {
    font-size: 20px;
    color: #FF4500;
  }

  // Styles for mat-card-content
  mat-card-content {
    font-size: 16px;
    color: #FF8C00;
  }

  // Styles for mat-card-footer
  mat-card-footer {
    display: flex;
    justify-content: flex-end;
  }
}

// Styles for mat-form-field
mat-form-field {
  display: block;
  margin-bottom: 15px;
}

// Styles for button
button {
  background-color: #FF4500;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #FF6347;
  }
}

// Styles for mat-icon
mat-icon {
  margin-right: 5px;
  color: #FFD700;
}
